extends layout.jade
block content
    h1 Lista de Usuarios
    table.table.table-hover.table-striped
        thead
            th Id
            th Nombre de Usuario
            th Nombre
            th Apellido
        tbody
             <?php foreach ($users as $user):?>
             tr
                td <?php echo $user["id"] ?>
                td <?php echo $user["user_name"] ?>
                td <?php echo $user["first_name"] ?>
                td <?php echo $user["last_name"] ?>
             <?php endforeach;?>
    